{% extends 'base.html' %}
{% load static %}
{% block content %}
{% static "images" as baseUrl %}
<!-- start revolution slider -->
<section class="p-0">
    <div class="container-fluid position-relative">
        <div class="row">
            {% for sliderpicture in slider %}
            <div class="swiper-container full-screen md-h-700px sm-h-450px white-move swiper-light-pagination"
                data-slider-options='{ "slidesPerView": 1, "loop": true, "autoplay": { "delay": 4500, "disableOnInteraction": false },  "pagination": { "el": ".swiper-pagination", "clickable": true }, "navigation": { "nextEl": ".swiper-button-next-nav", "prevEl": ".swiper-button-previous-nav" }, "keyboard": { "enabled": true, "onlyInViewport": true }, "effect": "slide" }'>
                <div class="swiper-wrapper">
                    <!-- start slider item -->
                    <div class="swiper-slide cover-background" style="background-image:url({{sliderpicture.img.url}});">
                        <div class="opacity-extra-medium bg-extra-dark-gray"></div>
                        <div class="container h-100">
                            <div class="row justify-content-center h-100">
                                <div
                                    class="col-12 col-xl-6 col-sm-7 d-flex flex-column justify-content-center h-100 text-center">
                                    <span
                                        class="alt-font text-extra-medium letter-spacing-3px text-white opacity-7 text-uppercase d-block margin-45px-bottom sm-margin-15px-bottom">{{sliderpicture.name}}</span>
                                    <h1
                                        class="alt-font font-weight-700 title-large text-white text-uppercase letter-spacing-minus-4px margin-55px-bottom sm-letter-spacing-minus-1px sm-margin-30px-bottom text-shadow-extra-large md-no-text-shadow xs-w-85 mx-auto mx-sm-0">
                                        {{sliderpicture.subtitle}}</h1>
                                    <a href="{% url 'single' %}"
                                        class="btn btn-large btn-fancy btn-round-edge-small btn-box-shadow btn-golden-brown btn-box-shadow align-self-center">Илүү
                                        ихийг</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end slider item -->
                    <!-- start slider item -->
                    <div class="swiper-slide cover-background"
                        style="background-image:url({{sliderpicture.img2.url}});">
                        <div class="opacity-extra-medium bg-extra-dark-gray"></div>
                        <div class="container h-100">
                            <div class="row justify-content-center h-100">
                                <div
                                    class="col-12 col-xl-6 col-sm-7 d-flex flex-column justify-content-center h-100 text-center">
                                    <span
                                        class="alt-font text-extra-medium letter-spacing-3px text-white opacity-7 text-uppercase d-block margin-45px-bottom sm-margin-15px-bottom">{{sliderpicture.name2}}</span>
                                    <h1
                                        class="alt-font font-weight-700 title-large text-white text-uppercase letter-spacing-minus-4px margin-55px-bottom sm-letter-spacing-minus-1px sm-margin-30px-bottom text-shadow-extra-large md-no-text-shadow xs-w-85 mx-auto mx-sm-0">
                                        {{sliderpicture.subtitle2}}</h1>
                                    <a href="{% url 'single' %}"
                                        class="btn btn-large btn-fancy btn-round-edge-small btn-box-shadow btn-golden-brown align-self-center">Илүү
                                        ихийг</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end slider item -->
                    <!-- start slider item -->
                    <div class="swiper-slide cover-background"
                        style="background-image:url({{sliderpicture.img3.url}});">
                        <div class="opacity-extra-medium bg-extra-dark-gray"></div>
                        <div class="container h-100">
                            <div class="row justify-content-center h-100">
                                <div
                                    class="col-12 col-xl-6 col-sm-7 d-flex flex-column justify-content-center h-100 text-center">
                                    <span
                                        class="alt-font text-extra-medium letter-spacing-3px text-white opacity-7 text-uppercase d-block margin-45px-bottom sm-margin-15px-bottom">{{sliderpicture.name3}}</span>
                                    <h1
                                        class="alt-font font-weight-700 title-large text-white text-uppercase letter-spacing-minus-4px margin-55px-bottom sm-letter-spacing-minus-1px sm-margin-30px-bottom text-shadow-extra-large md-no-text-shadow xs-w-85 mx-auto mx-sm-0">
                                        {{sliderpicture.subtitle3}}</h1>
                                    <a href="{% url 'single' %}"
                                        class="btn btn-large btn-fancy btn-round-edge-small btn-box-shadow btn-golden-brown align-self-center">Илүү
                                        ихийг</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- end slider item -->
                </div>
                {% endfor %}
                <!-- start slider pagination -->
                <!--<div class="swiper-pagination swiper-light-pagination"></div>-->
                <!-- end slider pagination -->
                <!-- start slider navigation -->
                <div class="swiper-button-previous-nav swiper-button-prev slider-navigation-style-05"><i
                        class="line-icon-Arrow-OutLeft icon-large"></i></div>
                <div class="swiper-button-next-nav swiper-button-next slider-navigation-style-05"><i
                        class="line-icon-Arrow-OutRight icon-large"></i></div>
                <!-- end slider navigation -->
            </div>
        </div>
    </div>
</section>
<!-- end revolution slider -->
<!-- start section -->
<section class="padding-5-half-rem-lr lg-padding-2-half-rem-lr sm-no-padding py-0 top1" id="down">
    <div class="container-fluid">
        <div class="row row-cols-1 row-cols-xl-4 row-cols-md-2">
            <!-- start category item -->
            <div class="col shop-category-style-01 wow animate__fadeIn">
                <div class="shop-product lg-margin-30px-bottom">
                    <div class="shop-product-image">
                        <img src="{% static '/images/ratio/KAR_1068.jpg' %}" class="w-100" alt="" />
                        <div class="shop-product-overlay bg-transparent-gradient-light-red-orange"></div>
                    </div>
                    <div
                        class="shop-product-content d-flex align-items-center bg-white xl-padding-20px-lr padding-30px-lr padding-5px-tb">
                        <a href="{% url 'single' %}"
                            class="alt-font font-weight-500 text-extra-dark-gray d-inline-block align-middle text-uppercase mr-auto">Эрэгтэй
                            загвар</a>
                        <a href="{% url 'single' %}"><i
                                class="line-icon-Arrow-OutRight icon-large text-extra-dark-gray align-middle margin-15px-left"></i></a>
                    </div>
                </div>
            </div>
            <!-- end category item -->
            <!-- start category item -->
            <div class="col shop-category-style-01 wow animate__fadeIn" data-wow-delay="0.2s">
                <div class="shop-product lg-margin-30px-bottom">
                    <div class="shop-product-image">
                        <img src="{% static '/images/ratio/KAR_1401.jpg' %}" class="w-100" alt="" />
                        <div class="shop-product-overlay bg-transparent-gradient-light-red-orange"></div>
                    </div>
                    <div
                        class="shop-product-content d-flex align-items-center bg-white xl-padding-20px-lr padding-30px-lr padding-5px-tb">
                        <a href="{% url 'single' %}"
                            class="alt-font font-weight-500 text-extra-dark-gray d-inline-block align-middle text-uppercase mr-auto">2020
                            оны шинэ загвар</a>
                        <a href="{% url 'single' %}"><i
                                class="line-icon-Arrow-OutRight icon-large text-extra-dark-gray align-middle margin-15px-left"></i></a>
                    </div>
                </div>
            </div>
            <!-- end category item -->
            <!-- start category banner -->
            <div class="col wow animate__fadeIn" data-wow-delay="0.4s">
                <a href="{% url 'single' %}"><img src="{% static '/images/ratio/KAR_1492.jpg' %}"
                        class="sm-margin-30px-bottom" alt="" /></a>
            </div>
            <!-- start category banner -->
            <!-- start category item -->
            <div class="col shop-category-style-01 wow animate__fadeIn" data-wow-delay="0.6s">
                <div class="shop-product">
                    <div class="shop-product-image">
                        <img src="{% static '/images/ratio/woman.fashin2.jpg' %}" class="w-100" alt="" />
                        <div class="shop-product-overlay bg-transparent-gradient-light-red-orange"></div>
                    </div>
                    <div
                        class="shop-product-content d-flex align-items-center bg-white xl-padding-20px-lr padding-30px-lr padding-5px-tb">
                        <a href="{% url 'single' %}"
                            class="alt-font font-weight-500 text-extra-dark-gray d-inline-block align-middle text-uppercase mr-auto">Эмэгтэй
                            загвар</a>
                        <a href="{% url 'single' %}"><i
                                class="line-icon-Arrow-OutRight icon-large text-extra-dark-gray align-middle margin-15px-left"></i></a>
                    </div>
                </div>
            </div>
            <!-- end category item -->
        </div>
    </div>
</section>
<!-- end section -->
<!-- start section -->
<section class="padding-4-half-rem-lr lg-padding-1-half-rem-lr sm-no-padding-lr">
    <div class="container">
        <div class="row">
            <div class="col-12 tab-style-01 wow animate__fadeIn">
                <!-- start filter navigation -->
                <ul
                    class="shop-filter grid-filter nav nav-tabs text-uppercase justify-content-center text-extra-medium text-center alt-font font-weight-500 margin-6-half-rem-bottom margin-2-half-rem-top md-margin-4-rem-bottom sm-margin-20px-bottom">
                    <li class="nav-item active"><a class="nav-link" data-filter="*" href="#" id="product">Шинэ
                            бүтээгдхүүн</a><span class="tab-border bg-extra-dark-gray"></span></li>
                    <li class="nav-item"><a class="nav-link" data-filter=".featured-products" href="#">Онцлох
                            бүтээгдхүүн</a><span class="tab-border bg-extra-dark-gray"></span></li>
                    <li class="nav-item"><a class="nav-link" data-filter=".best-sellers" href="#">Худалдан авалт
                            өндөр</a><span class="tab-border bg-extra-dark-gray"></span></li>
                </ul>
                <!-- end filter navigation -->
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 filter-content wow animate__fadeIn" data-wow-delay="0.2s">
                <ul id="myUL"
                    class="product-listing shop-wrapper grid grid-loading grid-5col xl-grid-4col lg-grid-3col md-grid-2col sm-grid-2col xs-grid-1col gutter-extra-large text-center">

                    <li class="grid-sizer"></li>

                    {% for product in pro %}
                    <li class="grid-item featured-products">

                        <div class="product-box margin-45px-bottom lg-margin-25px-bottom xs-no-margin-bottom">
                            <!-- start product image -->

                            <div class="product-image">
                                <a href="{% url 'single' %}">
                                    <img class="default-image" src="{{product.img.url}}" alt="asd" />
                                    <img class="hover-image" data-action="zoom" src="{{product.img2.url}}" alt="asd" />
                                    {% if product.sale %}
                                    <span class="product-badge green">sale</span>
                                    {% endif %}
                                </a>
                                <div class="product-overlay bg-gradient-extra-midium-gray-transparent"></div>

                            </div>
                            <!-- end product image -->
                            <!-- start product footer -->
                            <div class="product-footer text-center padding-25px-top xs-padding-10px-top">
                                <a href="{% url 'single' %}"
                                    class="text-extra-dark-gray text-black-hover font-weight-500 d-inline-block">{{product.name}}</a>
                                <div class="product-price text-medium">{{product.price}}₮</div>
                            </div>
                            <!-- end product footer -->
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-12 text-center margin-3-rem-top wow animate__fadeIn" data-wow-delay="0.4s">
                <a href="{% url 'single' %}" class="btn btn-medium btn-fancy btn-transparent-black">Цуглуулга</a>
            </div>
        </div>
    </div>
</section>
<!-- end section -->
<!-- start section -->
<section class="bg-light-gray" id="shop">
    <div class="container">
        <div class="row row-cols-1 row-cols-lg-2">
            <!-- start info banner item -->
            {% for give in giveaway %}
            <div class="col md-margin-30px-bottom wow animate__fadeInUp" data-wow-delay="0.2s">
                <div class="d-flex align-items-center cover-background h-100"
                    style="background-image:url({{give.img.url}});">
                    <div class="w-60 md-w-40 sm-w-70 padding-5-rem-all lg-padding-3-rem-lr md-padding-7-rem-tb xs-w-80">
                        <span
                            class="alt-font font-weight-500 text-small text-extra-dark-gray opacity-6 text-uppercase d-block margin-15px-bottom">{{give.text}}</span>

                        <a href="https://www.facebook.com/tsaatangutal1"
                            class="btn btn-small btn-fancy btn-white btn-box-shadow">Худалдаа</a>
                    </div>
                </div>

            </div>
            <!-- end info banner item -->
            <!-- start info banner item -->
            <div class="col md-margin-20px-bottom wow animate__fadeInUp" data-wow-delay="0.4s">
                <div class="d-flex align-items-center cover-background h-100"
                    style="background-image:url({{give.img2.url}});">
                    <div class="w-60 md-w-40 sm-w-70 padding-5-rem-all lg-padding-3-rem-lr md-padding-7-rem-tb">
                        <a target="_blank" href="https://www.facebook.com/tsaatangutal1"
                            class=" video-icon-box video-icon-medium d-inline-block margin-2-half-rem-bottom">
                            <span>
                                <span class="video-icon bg-white">
                                    <i class="fas fa-play text-gradient-orange-pink"></i>
                                </span>
                            </span>
                        </a>
                        <h6 class="alt-font font-weight-300 text-white mb-0">{{give.text2}}<span
                                class="title-extra-small font-weight-600 d-block">{{give.title}}</span></h6>
                    </div>
                </div>
            </div>
            <!-- end info banner item -->
            {% endfor %}
        </div>
    </div>
</section>
<!-- end section -->
<!-- start section -->
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-5 col-md-6 text-center margin-5-rem-bottom md-margin-3-rem-bottom wow animate__fadeIn"
                id="address">
                <h4 class="alt-font font-weight-600 text-extra-dark-gray letter-spacing-minus-1px">Хаяг байршил</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-12 tab-style-06 wow animate__fadeIn" data-wow-delay="0.2s">
                <!-- start tab navigation -->
                <!-- end tab navigation -->
                <div class="tab-content">
                    <!-- start tab content -->
                    <div class="tab-pane med-text fade in active show" id="monday">
                        <div class="panel-group time-table">
                            <div class="container">
                                <div class="row">
                                    {% for address in addres %}
                                    <div class="col-12 col-lg-6">
                                        <div class="panel border-color-black-transparent">
                                            <div class="panel-heading">
                                                <span class="panel-time"><i
                                                        class="feather icon-feather-clock margin-10px-right"></i>{{address.time}}</span>
                                                <div class="panel-body feature-box feature-box-left-icon-middle">
                                                    <div class="feature-box-icon margin-30px-right md-margin-5px-right">
                                                        <img class="rounded-circle w-110px h-110px border-all border-width-6px border-color-white box-shadow-large margin-15px-right md-w-70px md-h-70px border-radius-recovery"
                                                            src="{{address.img.url}}" alt="">
                                                    </div>
                                                    <div class="feature-box-content last-paragraph-no-margin">
                                                        <div class="panel-title">
                                                            <span
                                                                class="text-extra-dark-gray d-inline-block font-weight-500 margin-5px-bottom">{{address.title}}</span>
                                                        </div>
                                                        {{address}}
                                                        <p class="w-65 lg-w-85 md-w-90 xs-w-100">{{address.description}}
                                                        </p>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    <div class="col-12 col-lg-6">
                                        <div class="panel border-color-black-transparent">
                                            <div class="panel-heading">
                                                <span class="panel-time"><i
                                                        class="feather icon-feather-clock margin-10px-right"></i>10:00 -
                                                    20:00</span>
                                                <div class="panel-body feature-box feature-box-left-icon-middle">
                                                    <div class="feature-box-icon margin-30px-right md-margin-5px-right">
                                                        <img class="rounded-circle w-110px h-110px border-all border-width-6px border-color-white box-shadow-large margin-15px-right md-w-70px md-h-70px border-radius-recovery"
                                                            src="{% static '/images/ratio/Билэг.png' %}"
                                                            data-action="zoom" alt="">
                                                    </div>
                                                    <div class="feature-box-content last-paragraph-no-margin">
                                                        <div class="panel-title">
                                                            <span
                                                                class="text-extra-dark-gray d-inline-block font-weight-500 margin-5px-bottom">Билэг
                                                                их дэлгүүр</span>
                                                        </div>
                                                        <p class="w-65 lg-w-85 md-w-90 xs-w-100">Хаяг. Монгол,
                                                            Улаанбаатар хот, БГД 2-р хороо Энхтайваны өргөн чөлөө Гранд
                                                            плаза</p>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="panel border-color-black-transparent">
                                            <div class="panel-heading">
                                                <span class="panel-time"><i
                                                        class="feather icon-feather-clock margin-10px-right"></i>10:00 -
                                                    20:00</span>
                                                <div class="panel-body feature-box feature-box-left-icon-middle">
                                                    <div class="feature-box-icon margin-30px-right md-margin-5px-right">
                                                        <img class="rounded-circle w-110px h-110px border-all border-width-6px border-color-white box-shadow-large margin-15px-right md-w-70px md-h-70px border-radius-recovery"
                                                            src="{% static '/images/ratio/grandplaza.PNG' %}"
                                                            data-action="zoom" alt="">
                                                    </div>
                                                    <div class="feature-box-content last-paragraph-no-margin">
                                                        <div class="panel-title">
                                                            <span
                                                                class="text-extra-dark-gray d-inline-block font-weight-500 margin-5px-bottom">Grand
                                                                Plaza</span>
                                                        </div>
                                                        <p class="w-65 lg-w-85 md-w-90 xs-w-100">Хаяг. Монгол,
                                                            Улаанбаатар хот, БГД 2-р хороо Энхтайваны өргөн чөлөө Гранд
                                                            плаза</p>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-lg-6">
                                    <div class="panel border-color-transparent">
                                        <div class="panel-heading">
                                            <span class="panel-time"><i
                                                    class="feather icon-feather-clock margin-10px-right"></i>10:00 -
                                                19:30</span>
                                            <div class="panel-body feature-box feature-box-left-icon-middle">
                                                <div class="feature-box-icon margin-30px-right md-margin-5px-right">
                                                    <img class="rounded-circle w-110px h-110px border-all border-width-6px border-color-white box-shadow-large margin-15px-right md-w-70px md-h-70px border-radius-recovery"
                                                        src="{% static '/images/ratio/Алтжин.jpg' %}" alt="">
                                                </div>
                                                <div class="feature-box-content last-paragraph-no-margin">
                                                    <div class="panel-title">
                                                        <span
                                                            class="text-extra-dark-gray d-inline-block font-weight-500 margin-5px-bottom">Алтжин
                                                            Бөмбөгөр</span>
                                                    </div>
                                                    <p class="w-65 lg-w-85 md-w-90 xs-w-100">Хаяг. Монгол, Улаанбаатар
                                                        хот, ЧД 2-р хороо Алтжин Бөмбөгөр худалдааны төв</p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="panel border-color-transparent">
                                        <div class="panel-heading">
                                            <span class="panel-time"><i
                                                    class="feather icon-feather-clock margin-10px-right"></i>10:00 -
                                                20:00</span>
                                            <div class="panel-body feature-box feature-box-left-icon-middle">
                                                <div class="feature-box-icon margin-30px-right md-margin-5px-right">
                                                    <img class="rounded-circle w-110px h-110px border-all border-width-6px border-color-white box-shadow-large margin-15px-right md-w-70px md-h-70px border-radius-recovery"
                                                        src="{% static '/images/ratio/sunday.PNG' %}" alt="">
                                                </div>
                                                <div class="feature-box-content last-paragraph-no-margin">
                                                    <div class="panel-title">
                                                        <span
                                                            class="text-extra-dark-gray d-inline-block font-weight-500 margin-5px-bottom">Sunday
                                                            Plaza</span>
                                                    </div>
                                                    <p class="w-65 lg-w-85 md-w-90 xs-w-100">Хаяг. Монгол, Улаанбаатар
                                                        хот, БЗД 14-р хороо Намьянжугийн гудамж. Сандэй плаза </p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end tab content -->
                </div>
            </div>
        </div>
    </div>
</section>
<section id="about" class="bg-light-gray">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-5 col-md-6 text-center margin-5-rem-bottom md-margin-3-rem-bottom wow animate__fadeIn"
                id="about">
                <h4 class="alt-font font-weight-600 text-ext ra-dark-gray letter-spacing-minus-1px">Бидний тухай</h4>
            </div>
        </div>
        <div class="row">
            {% for titles in abouts %}
            <div class="col-12 col-lg-4 pr-lg-0 d-flex md-margin-30px-bottom">
                <div class="w-100 md-h-700px sm-h-550px xs-h-450px cover-background"
                    style="background-image:url({{titles.img.url}});"></div>
            </div>
            <div class="col-12 col-lg-4 col-md-6 pl-lg-0 d-flex sm-margin-30px-bottom">
                <div
                    class="justify-content-center w-100 d-flex flex-column bg-fast-blue padding-5-half-rem-lr lg-padding-3-rem-lr md-padding-4-rem-all">
                    <span
                        class="text-extra-large alt-font font-weight-500 text-white margin-20px-bottom d-block">{{titles.title}}</span>

                    <p class="text-white opacity-7">{{titles.description}}</p>
                    <a href="our-services.html"
                        class="btn btn-large btn-link text-white text-white-hover align-self-start"></a>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-6">
                <img src="{{titles.img2.url}}" alt="" data-no-retina="">
                <div
                    class="bg-white padding-3-half-rem-lr padding-3-rem-tb lg-padding-2-rem-all md-padding-2-half-rem-all sm-padding-4-rem-all last-paragraph-no-margin">
                    <span class="alt-font text-extra-dark-gray font-weight-500 margin-10px-bottom d-block"></span>
                    <p>{{titles.description2}}</p>
                </div>
            </div>
            <div>
            </div>

        </div>

    </div>
    <br>
    <br>
    <div class="container">

        <div class="row">
            <div class="col-6 col-lg-3">
                <div class="between1">
                    <h1><i class="fa fa-user" aria-hidden="true"></i></h1>

                    <p class="justy">{{titles.employee}}</p>
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <div class="between1">
                    <h1><i class="fas fa-users"></i></h1>
                    <p class="justy">{{titles.customer}}</p>
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <div class="between1">
                    <h1><i class="fas fa-chart-bar"></i></h1>
                    <p class="justy">{{titles.user}}</p>
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <div class="between1">
                    <h1><i class="far fa-building"></i></h1>
                    <p class="justy">{{titles.branch}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    </div>
</section>
{% endblock %}